<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-success">
    <a class="navbar-brand" href="#">Angular Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
          <li id="contentAdd" class="nav-item support">
              <span routerLink="/newPost" id="support" class="nav-link">New Post</span>
            </li>
        <li id="contentConnect" class="nav-item">
          <a routerLink="/postList" id="connexion" class="nav-link">Post's list</a>
        </li>
      </ul>
    </div>
  </nav>
</div>